/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace; /* Alterado para JetBrains Mono */
}

/* Estilização global */
body {
  background-color: #0d1b2a; /* Cor de fundo do corpo */
  color: #ffffff;
}

.main-container {
  display: flex;
  width: 100vw; /* Largura total da tela */
  height: 100vh; /* Altura total da tela */
}

/* Estilização da seção do formulário */
.form-section {
  width: 40%;
  height: 100%; /* Altura total da seção */
  padding: 40px;
  background-color: #020e20; /* Mudança para a nova cor de fundo */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; /* Centraliza horizontalmente */
}

.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
    width: 300px;
}

.form-title {
  font-size: 2rem;
  margin-top: 10px;
}

.registration-form {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Aumenta o espaço entre os grupos de form */
}

/* Alteração para o alinhamento dos inputs */
.form-group {
  display: flex;
  flex-direction: column; /* Altera para coluna para empilhar label e input */
  align-items: flex-start; /* Alinha os itens à esquerda */
}


/* Alteração nos inputs */
.form-input {
  width: 369px; /* Largura do input */
  height: 41px; /* Altura do input */
  padding: 8px; /* Ajuste do padding se necessário */
  border-radius: 5px;
  border: 1px solid #7b8ca6;
  background-color: #ffffff; /* Mudança para branco */
  color: #000000; /* Cor do texto dos inputs */
}

.form-input::placeholder {
  color: #7b8ca6;
}

/* Alteração no botão de submit */
.form-submit-btn {
  width: 369px; /* Largura do botão */
  height: 41px; /* Altura do botão */
  padding: 0; /* Remover padding para se ajustar às novas dimensões */
  background-color: #55679c; /* Mudança para a nova cor */
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  margin-top: 15px;
}

.form-submit-btn:hover {
  background-color: #3f557a; /* Cor para hover */
}

/* Estilização da seção de login social */
.social-login-container {
  margin-top: 20px;
}

.social-login-text {
  text-align: center;
  color: #7b8ca6;
  margin-bottom: 10px;
}

.social-login-buttons {
  display: flex;
  justify-content: space-around;
}

.social-login-btn img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

/* Estilização do rodapé */
.form-footer {
  margin-top: 20px;
  text-align: center;
}

.signup-text {
  color: #7b8ca6;
}

.signup-link {
  color: #3a86ff;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}

/* Estilização da seção da imagem */
.image-section {
  width: 60%; /* Manter a largura em 60% da tela */
  height: 100vh; /* Altura total da seção de imagem */
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../plataforma-de-ensino-web-main/PROJETO_PAEJA_RASC/imagens_paeja/image8.png");
  background-size: 980px 1169px; /* Tamanho específico da imagem */
  background-repeat: no-repeat; /* Evitar repetição da imagem */
  background-position: center; /* Centraliza a imagem */
  overflow: hidden; /* Remove qualquer conteúdo que saia da borda */
}
